<div class="app__main-container">
  <div class="app__login-image">
  </div>
<div class="app__bsu">
  БЕЛОРУССКИЙ ГОСУДАРСТВЕННЫЙ УНИВЕРСИТЕТ
</div>
  <form class="app__loginform" [formGroup]="loginForm">
    <div class="enter-label">Вход</div>

    <input type="text" id="app__loginform-input-login" placeholder="Логин" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" formControlName="email" required>
      <!--<label for="app__loginform-input-login">Введите свой логин</label>-->


    <input type="password" formControlName="password"  [type]="hide ? 'password' :'text' " id ="app__loginform-input-password" placeholder="Пароль">

<!--     <button mat-icon-button class="app__loginform-block-password" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">-->
<!--      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--    </button>-->
    <button type="submit" class="app__loginform-button-sign-in" (click)="sendLoginData()">Войти</button>
    <div class="checker-box">
      <input type="checkbox" id="cb1"> <label for="cb1">Запомнить меня</label>
    </div>
    <a href="login-page.component.html" class="app__href">Забыли логин или пароль?</a>
  </form>

</div>
