.app__main-container {
  position: relative;
  width: 1920px;
  height: 1080px;
  background: linear-gradient(180deg, #000000 0%, #01073F 100%);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}
.app__login-image {
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  opacity: 0.17;
  background: url(image_login.jpeg);
}
.app__bsu {
  position: absolute;
  width: 252px;
  height: 39px;
  left: 123px;
  top: 40px;
  font-family: Montserrat;
  font-style: revert;
  font-weight: 50px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
/*login form*/
.app__loginform {
  position: absolute;
  width: 20.5%;
  height: 35%;
  left: calc(50% - 829px / 2 - 0.5px);
  top: calc(50% - 800px / 2 - 5.5px);
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  border-bottom: 10px solid #FFFFFF;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.app__loginform:before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  left: -32px;
  right: -49px;
  top: 376px;
  border-bottom: 70px solid #FFFFFF;
  border-left: 179px solid transparent;
  border-right: 179px solid transparent;
  transform: rotate(540deg);
}
#app__loginform-input-login {
  padding-left: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.07em;
  color: #161689;
  display: block;
  position: absolute;
  width: 300px;
  height: 35px;
  left: calc(50% - 301px / 2 - 0.5px);
  top: calc(50% - 47px / 2 - 59px);
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  box-shadow: 5px 5px 17.5px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  transition: 0.2ms;
}
#app__loginform-input-password {
  padding-left: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.07em;
  color: #161689;
  display: flex;
  position: absolute;
  width: 300px;
  height: 35px;
  left: calc(50% - 301px / 2 - 0.5px);
  top: calc(50% + 70px / 2 - 59px);
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  box-shadow: 5px 5px 17.5px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  transition: 0.5ms;
}
.app__loginform-block-password {
  display: flex;
  position: absolute;
  left: calc(50% + 212px / 2 - 0.5px);
  top: calc(50% + 79px / 2 - 59px);
  opacity: 0.5;
  background: transparent;
  border: 0px;
  transition: 0.5s;
  outline: none;
  font-size: 18px;
}
.app__loginform-block-password:focus {
  display: flex;
  position: absolute;
  left: calc(50% + 212px / 2 - 0.5px);
  top: calc(50% + 79px / 2 - 59px);
  opacity: 1;
  background: transparent;
  border: 0px;
  transition: 0.5s;
  outline: none;
}
::-webkit-input-placeholder {
  position: absolute;
  width: 122px;
  height: 23px;
  left: calc(50% - 122px / 2 - 108px);
  top: calc(50% - 23px / 2 - 121.5px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.07em;
  color: #959595;
  transition: 0.5ms;
}
.app__loginform-button-sign-in {
  border: none;
  position: absolute;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.07em;
  width: 180px;
  height: 30px;
  left: calc(50% - 181px / 2 - 0.5px);
  top: calc(50% + 52px / 2 + 36px);
  font-family: Montserrat;
  color: #FFFFFF;
  background: #08105A;
  box-shadow: 5px 5px 17.5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  transition: 0.5s;
}
/*hovers*/
#app__loginform-input-login:hover {
  font-size: 15px;
  line-height: 24px;
  box-shadow: 5px 5px 17.5px rgba(0, 0, 0, 0.5);
  border: none;
  background: #ffffff;
  font-family: Montserrat;
}
#app__loginform-input-password:hover {
  border: none;
  box-shadow: 5px 5px 17.5px rgba(0, 0, 0, 0.5);
  /*border-color: #08105A;*/
  background: #ffffff;
  font-family: Montserrat;
}
.app__loginform-button-sign-in:hover {
  background: #4527A0;
  color: #E8EAF6;
}
:hover::-webkit-input-placeholder {
  position: absolute;
  width: 122px;
  height: 23px;
  left: calc(50% - 122px / 2 - 108px);
  top: calc(50% - 23px / 2 - 121.5px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.07em;
  color: #959595;
}
:focus::-webkit-input-placeholder {
  position: absolute;
  width: 122px;
  height: 23px;
  left: calc(50% - 122px / 2 - 108px);
  top: calc(50% - 23px / 2 - 121.5px);
  padding-left: 100px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.07em;
  color: #ffffff;
}
/*focus*/
#app__loginform-input-password:focus {
  outline: none;
  padding-left: 30px;
  background: #ffffff;
  color: #161689;
  box-shadow: 5px 5px 17.5px rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.07em;
}
#app__loginform-input-login:focus {
  outline: none;
  padding-left: 30px;
  /* box-shadow: 0 0 0 3px  #FFFFFF,
   0 0 0 1.5px #FFFFFF;*/
  /* background: #4527A0;*/
  background: #FFFFFF;
  color: #161689;
  box-shadow: 5px 5px 17.5px rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.07em;
}
label {
  position: absolute;
  left: calc(50% - 283px / 2 + 18.5px);
  top: calc(50% + 52px / 2 - 16px);
  color: #08105a;
  font-family: Montserrat;
  font-weight: 200;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.07em;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}
input:placeholder-shown + label {
  opacity: 0;
  transform: translateY(1rem);
}
/*checkbox*/
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 12px;
  height: 12px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 1px;
  top: 2px;
  width: 8px;
  height: 5px;
  border-radius: 1px;
  border-left: 3px solid #4527A0;
  border-bottom: 3px solid #4527A0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}
input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.checker-box {
  position: absolute;
  left: calc(50% + -35px / 2 - 69.5px);
  top: calc(50% + 52px / 2 - 16px);
  margin-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.07em;
  color: #4B4D45;
  text-shadow: 20px 20px 35px rgba(0, 0, 0, 0.2);
}
/*Вход*/
.enter-label {
  position: absolute;
  width: 76px;
  height: 20px;
  left: calc(50% - 90px / 2 + 9px);
  top: calc(50% + 160px / 2 - 201px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 19.5px;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: #08105A;
}
/*забыли пароль или логин*/
.app__href {
  position: absolute;
  text-decoration: none;
  width: 293px;
  height: 11px;
  left: calc(50% - 235px / 2 + 18.5px);
  top: calc(50% + 40px / 2 + 76px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.07em;
  color: #575a4f;
  text-shadow: 20px 20px 35px rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.app__href:hover {
  text-decoration: none;
  width: 293px;
  height: 11px;
  left: calc(50% - 235px / 2 + 18.5px);
  top: calc(50% + 40px / 2 + 76px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.07em;
  color: #050505;
  opacity: 1;
  text-shadow: 20px 20px 35px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=login-page.component.css.map */